<h1>New Dream</h1>
<%= form_for(@dream) do |f| %>
	<p>
		<%= f.label :title, "Dream Name" %><br>
		<%= f.text_field :title %>
	</p>

	<p>
		<%= f.label :content, "Your Dream" %><br>
		<%= f.text_area :content, :rows => 10, :columns => 20 %>
	</p>

	<%= f.submit %>
<% end %>
